@font-face {
	font-family: ChaletLondonNineteenSixty;
	src: url('../ChaletLondon1960Regular.otf')
}

:root {
	font-family: ChaletLondonNineteenSixty;
	background-color: black;
	color: white;
}

h1 + h2 {
	padding: 0;
	margin: 0;
}

.content {
	z-index: 1;
	position: absolute;
}

.margin-10 {
	margin: 10px;
}

.text-container {
	position: fixed;
	width: 100%;
}

.text-container.left {
	text-align: left;
}

.text-container.right {
	text-align: right;
}

.text-container.middle {
	text-align: center;
}

.link {
	color: white;
	text-decoration: underline;
	background-color: transparent;
	font-family: inherit;
	border: none;
	padding: 0;
	padding-block: 0;
	padding-inline: 0;
	font-size: inherit;
	cursor: pointer;
}

.canvas {
	z-index: 0;
	pointer-events: all;
}